* {
    padding: 0;
    margin: 0;
}

html {
    font-family:Radikal,Helvetica,Arial,sans-serif;
    font-size: 12pt;
}

ul {
    list-style: none;
}

:root {
    --height-header: 40px
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c2f51;
}

body {
    overflow-y: scroll;
}

.mobile_icon_menu {
    display: none;
    height: 40px;
    height: var(--height-header);
}

.mobile_icon_menu_button{
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 5px 15px;
}

:root {
    --time-transition-menu-line: 1s
}

.mobile_icon_menu_line{
    height: 3px;
    background-color: white;
    width: 100%;
    position: absolute;
    display: block;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

:root {
    --margin-menu-line: 8px;
}

.top_line {
    transform: translateY(calc(-1 * 8px - 100%));
    transform: translateY(calc(-1 * var(--margin-menu-line) - 100%));
}

.middle_line {
    transform: translateY(-50%);
}

.bottom_line {
    transform: translateY(8px);
    transform: translateY(var(--margin-menu-line));
}

.header_menu {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    max-width: 900px;
    margin: 0 0 0 auto;
    padding: 0 20px;
    height: 40px;
    height: var(--height-header);
}

.header_menu li {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.header_menu li a{
    padding: 0.7rem 0;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: block;
    transition: color 0.8s;
}

.header_menu .active_link {
    color: rgb(255, 221, 157);
}

.header_menu li:not(:first-child) a {
    padding-left: 0.7rem;
}

.header_menu li a:hover{
    color: orange;
}

:root {
    --percent-water: 34;
    --height-linear-gradient: 150vh;
}

.wrap_title {
    height: 51vh;
    height: calc(var(--height-linear-gradient) * var(--percent-water) / 100);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_title.small_height {
    height: auto;
}

h1 {
    transform: skewY(-11deg);
    text-align: center;
    color: #04cdb2;
    font-size: 3.6em;
}

.search {
    position: absolute;
    top: calc(100% + 10px);
    right: 20px;
    transition: all 0.8s ease-out;
}

.search__input {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    outline: none;
    box-sizing: border-box;
    transition: all 0.8s ease-out;
}

.search__input::-ms-clear {
    display: none;
}

.search__button {
    width: 30px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 100%;
    background: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 0;
    right: 0;
    transition: all 0.8s ease-out;
}

.search__button_before,
.search__button_after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.8s ease-out;
    border-radius: 4px;
    pointer-events: none;
}

.search__button_before {
    transform: rotate(45deg);
    top: 32px;
    right: -16px;
}

.search__button_after {
    transform: rotate(-45deg);
    top: 50%;
    right: 5px;
    opacity: 0;
}

.search__active {
    right: 50%;
    transform: translateX(50%);
}

.search__active .search__input{
    width: 360px;
    background-color: white;
    color: rgb(53, 53, 53);
    padding: 3px 35px 3px 5px;
    border-radius: 6px;
}

.search__active .search__button_before {
    top: 50%;
    right: 5px;
}

.search__active .search__button_after {
    opacity: 1;
}

.search__white_theme .search__input{
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
}

.search__white_theme.search__active .search__input {
    background-color: rgb(0, 7, 49);
}

.search__white_theme .search__button_before,
.search__white_theme .search__button_after {
    background-color: rgb(221, 221, 221);
}

@media screen and (max-width: 900px) {
    .header_menu {
        flex-direction: column;
        display: none;
        padding-bottom: 1rem;
        height: auto;
    }

    .header_menu li:not(:first-child) a {
        padding-left: 0;
        padding-bottom: 0;
    }

    .header_menu li:first-child a{
        padding-top: 0;
        padding-bottom: 0;
    }

    .mobile_icon_menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .open_menu .header_menu{
        display: flex;
    }

    .open_menu .top_line {
        transform: rotate(45deg);
    }
    
    .open_menu .middle_line {
        opacity: 0;
    }
    
    .open_menu .bottom_line {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 400px) {
    .search__active .search__input {
        width: 250px;
    }
}